h1 {
    text-align:center;
    background-color: rgb(126, 60, 180);
}
h2 {
    text-align:center;
    font-style: italic;
    background-color: rgb(177, 134, 226);
}
h3{
    text-align:center;
    background-color: rgb(68, 125, 172);
}
p {
    text-align: center;
    font-size: medium;
    color: rgb(255, 255, 255);
}
.imagem1 {
    width: 400px;
}
.imagemcentralizada{
    text-align: center;
}

strong {
    font-style: italic;
    font-size: larger;
    background-color: rgb(84, 51, 161);
}

body {
    background-color: rgb(0, 0, 0);
}

.itens {
    color: rgba(58, 86, 163, 0.548);
    vertical-align: top;
    margin: 20%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: rgb(36, 55, 78);
    border-width: 2px;
    border-style: solid;

}