h1 {
    text-align:center;
    background-color: rgb(160, 17, 17);
}

p {
    text-align: center;
    font-size: medium;
}

strong {
    font-size: larger;
    background-color: rgb(212, 78, 78);
}

